<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>DannTeam API - Invalid APIKeys</title>
  <style>
  	body {
  		background-color: black;
  		color: white;
  		text-align: center;
  	}
  	.btn {
  		width: 170px;
  		height: 35px;
  		background-color: #0066FF;
  		border: none;
  		border-radius: 5px;
  	}
  	.btn:hover {
  		background-color: #599CFF;
  		rotate: 2deg;
  	}
  	a {
  		color: white;
  		text-decoration: none;
  	}
  </style>
</head>

<body>
	<br><br><br><br><br><br><br>
  <div>
    <section>
      <div>
        <div>
          <div>
            <p style="font-size:60px;">Error</p>
            <p style="font-size:30px;">The key you entered is incorrect, please check your key again on the dashboard or contact the developer.</p>
            <button class="btn">
                <a href="/dashboard">Return to dashboard</a>
              </button>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>
</html>