<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta property="og:site_name" content="danzzapi.xyz/login" />
    <meta property="og:title" content="Sign In | Danzz Api" />
    <meta property="og:url" content="https://danzzapi.xyz/login" />
    <meta property="og:image" content="https://telegra.ph/file/72d45ec36061d47f2e83b.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Danzz Coding" />
    <meta property="og:description" content="Register" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Register">
	<meta name="author" content="DannTeam">
	<meta name="keywords" content="Register">
	<title>DannTeam API - Register</title>
	
	<!-- ICON -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<link class="js-stylesheet" href="./css/style.css" rel="stylesheet">
</head>

	<body>
			<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-md-10 col-xl-8 mx-auto">
							<h1 class="text-center"></h1>
							<p class="lead text-center mb-4"></p>
							
							<center>
            					<%- include('alert/success')  %>
            					<%- include('alert/error')  %>
            					<%- include('alert/error2')  %>
							</center>
            
							<div class="text-center mt-4">
							<h1 class="h2">Get started</h1>
							<p class="lead">
								Register first to enjoy access to DannTeam API, make your WhatsApp bot more features.
							</p>
						</div>

							<div class="row justify-content-center mt-3 mb-2">
								<div class="col-auto">
									<nav class="nav btn-group">
									</nav>
								</div>
							</div>
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="/signup" method="POST">
										<div class="mb-3">
											<label class="form-label">Username</label>
											<input class="form-control form-control-lg" type="username" name="username" placeholder="Create username" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Create password" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password2" placeholder="Confirm password" required>
										</div>
										<label class="form-check">
												<input class="form-check-input" type="checkbox" checked="" required>
												<span class="form-check-label">
													I accepted all terms and conditions
												</span>
											</label>
										<div class="g-recaptcha" data-sitekey="<%= recaptcha_key_1 %>"></div>
										Already have an account? <a href="/login">Sign in</a>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Sign up</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</main>
				<script src="js/main.js"></script>
			<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	</body>
</html>